build.bat
SplashScreen.png
scaled.png
config.ini
__pycache__
build
dist
.vscode
*.spec
*~*
*-workspace
pyinstaller-5.3
pypy3.8-v7.3.9-win64
numpy-main
opencv-python-master
opencv-python-64/
opencv_python_headless-4.6.0.66-cp36-abi3-win32.whl
Test Images